
header .navbar-brand {
  font-family: 'Anton', sans-serif;
}

header a {
  color: black;
}

header .navbar-toggler {
  background-color: black;
}

#banner {
  width: 100%;
  height: 50%;

}

#navbarHeader {
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

#rounded {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
  

.social-icons li{
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  color: black;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 30%;
  transition: .2s;
}

.social-icons li:hover {
  color: darkred;
  border: 1px solid darkred;
  transition: .2s;1
}


  
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  text-align: center;
  margin-bottom: .25rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 13px;
}

