/**Home Background Logo**/
#bg-logo {
  width: 100%;
  height: 50%;  
}

/**Header Navbar Tabs Typography**/
header .navbar-brand {
  font-family: 'Anton', sans-serif;
}

/**Header Navbar Tabs Color**/
header a {
  color: black;
}

/**Header .Navbar-toggler color*/
header .navbar-toggler {
  background-color: black;
}

/**.navbar-toggler 3x(-) color **/
.fas {
  color: white;
  margin-top: 5.5px;
}

/**Logo Banner Size**/
#banner {
  width: 100%;
  height: 50%;
}

/**Header "Legenary Anatomy" Typography/Color **/
#navbarHeader {
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

/**Mory O. Doumbia Typography**/
h3 {
  font-family: 'Anton', sans-serif;
}

/**Bio Info Typography**/
.bio {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

/**Bio-Pic Circle**/
#rounded {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/**Portfolio Cards Typography **/
h6 {
  font-family: 'Anton', sans-serif;
}

/**Contact Form Typography**/
.form-group label {
  font-family: 'Anton', sans-serif;
}
 
/**Social Media Icons Styling**/
.social-icons li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  padding: 5px 5px;
  border: 1px solid;
  border-radius: 30%;
  
}

/**Social Media Icons Hover Color**/
.social-icons li:hover {
  border: 1px solid darkred;
  border-radius: 30%;
  transition: 1s;
  
}

.social-icons a{
  color: black;
}

.social-icons a:hover {
  color: darkred;
  transition: .3s;
}




/**Footer Spacing**/
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/**Footer Copyright Text Styling**/
footer p {
  text-align: center;
  margin-bottom: .25rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 13px;
}

